html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.nav {
	display: block;
	margin-top: -12px;
	padding-top: 36px;
	padding-bottom: 20px;
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	line-height: 1.333;
	font-size: 18px;
	font-family : "TeleGroteskScreen";
	font-weight: 400;
	background-color: #D0D0D0;
}

.list {
	width: 100%;
	height: 170px;
	margin-bottom: 4px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	align-items: center;
}

.round_dark {
	width: 154px;
	height: 154px;
	border-radius: 50%;
	background-color: #383838;
    border-color: #383838;
	border: 4px solid transparent;
	display: flex;
	flex-direction: column;
    justify-content: center;
	text-align: center;
	margin: 0px 10px 0px;
}

.Teaser__bubble{
	width: 154px;
	height: 154px;
	border-radius: 50%;
	background-color: blue;
    border-color: #383838;
	border: 4px solid transparent;
	display: flex;
	flex-direction: column;
    justify-content: center;
	text-align: center;
	margin: 0px 10px 0px;
}

.round_dark:hover{
	border-color: #e20074;
}

.round_dark:hover .svg svg{
	fill: #e20074;
}

@font-face {
    font-family : "TeleGroteskScreen-Thin";
    font-weight : 300;
    font-style  : normal;
    src         : url("/fonts/telegroteskscreen-thin.woff") format("woff")
}

@font-face {
    font-family : "TeleGroteskScreen-Regular";
    font-weight : 400;
    font-style  : normal;
    src         : url("/fonts/telegroteskscreen-regular.woff") format("woff")
}

@font-face {
    font-family : "TeleGroteskScreen-Medium";
    font-style  : normal;
    font-weight : 600;
    src         : url("/fonts/telegroteskscreen-medium.woff") format("woff");
}

@font-face {
    font-family : "TeleGroteskScreen-Bold";
    font-style  : normal;
    font-weight : 700;
    src         : url("/fonts/telegroteskscreen-bold.woff") format("woff");
}

@font-face {
    font-family : "TeleGroteskScreen-Ultra";
    src         : url("/fonts/telegroteskscreen-ultra.woff") format("woff");
}

@font-face {
    font-family : "tsde-icon-new";
    font-style  : normal;
    font-weight : 400;
    src         : url("/fonts/tsde-icon-new.woff") format("woff");
}