.Buehne{
	flex-grow: 0;
	flex-shrink: 0;
	background-size: cover;	
	background-position: 50% 50%;
	padding: 6px;
	text-decoration: none;
	box-sizing: border-box;
	margin-bottom: 12px;
	flex-basis: 100%;
	position: relative;
	background-image: url(https://www.telekom.de/resources/images/346198/telekom-magenta-eins-zusammen-geht-mehr-s.jpg);
	height: 286px;
}

.Buehne--isTeaserBright .Buehne__headline{
	color: #383838;
}

.Buehne--isTeaserBright .Buehne__subline{
	color: #383838;
	max-width: 100%;
}

.Buehne--buttonColor .Buehne__link{
	color: #383838;
	border-color: #383838;
}

.Buehne--buttonColor .Buehne__link:hover{
	color: white;
	border-color: #e20074;
}

.Buehne__link:hover{
	background-color: #e20074;
}

.Buehne__content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	text-align: center;
}

.Buehne__headline{
	color: #fff;
	font-size: 1.6875rem;
	line-height: 1.875rem;
	display: inline-block;
	margin: 29px auto 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "TeleGroteskScreen-Ultra";
	width: 100%;
}

.Buehne__headline2{
	color: #fff;
	font-size: 1.6875rem;
	line-height: 1.875rem;
	display: inline-block;
	margin: 29px auto 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "TeleGroteskScreen-Ultra";
}

.Buehne__subline{
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #fff;
    display: block;
    font-family: "TeleGroteskScreen-Regular";
    margin: 6px auto 0;
    padding: 0;
    text-transform: uppercase;
}

.Buehne__link{
	font-size: 1.3125rem;
	line-height: 1.5rem;
	background-color: transparent;
    border-color: #fff;
    color: #fff;
	font-family: "TeleGroteskScreen-Bold";
	padding: 12px;
	border: 1px solid #B3b3b3;
	border-radius: 4px;
	text-transform: uppercase;
	position: absolute;
	bottom: 30px;
}

.Buehne__textBlock{
	max-width: 370px;
	margin: 0 auto;
}

@media screen and (max-width: 640px){
.Buehne__headline{
	display: none;
}
.Buehne__subline{
	display: none;
}
}

@media screen and (min-width: 641px){
.Buehne__headline2{
	display: none;
}
.Buehne__headline{
	font-size: 2.25rem;
	line-height: 2.625rem;
    margin-top: 60px;
}
.Buehne__textBlock{
	max-width: 400px;
}
.Buehne__subline {
    max-width: 100%;
}
.Buehne{
	background-image: url(https://www.telekom.de/resources/images/346196/telekom-magenta-eins-zusammen-geht-mehr-m.jpg);
	height: 610px;
}
.Buehne__link{
	bottom: 46px;
}
}

@media screen and (min-width: 768px){
.Buehne__textBlock{
	left: calc(50% - 20px);
	max-width: 600px;
	position: absolute;
	text-align: left;
}
.Buehne__headline{
	margin-top: 73px;
    margin-bottom: 10px;
}
.Buehne__subline{
    font-size: 1.3125rem;
	line-height: 1.6875rem;
	max-width: 300px;
	margin: 0;
}
.Buehne__link{
	bottom: 50px;
    left: calc(50% - 20px);
	transform: none;
}
.Buehne{
	background-image: url(https://www.telekom.de/resources/images/346192/telekom-magenta-eins-zusammen-geht-mehr-l1.jpg);
	height: 330px;
}
}

@media screen and (min-width: 1025px){
.Buehne__headline{
	font-size: 2.25rem;
	line-height: 2.625rem;
    margin-top: 48px;
}
.Buehne__subline{
    font-size: 1.5rem;
    line-height: 1.75rem;
	max-width: 390px;
	margin-top: 7px;
}
.Buehne__textBlock{
	max-width: 390px;
}
}

@media screen and (min-width: 1367px){
.Buehne__textBlock{
	left: calc(50% - 75px);
	max-width: 525px;
}
.Buehne{
	background-image: url(https://www.telekom.de/resources/images/346194/telekom-magenta-eins-zusammen-geht-mehr-l2.jpg);
	height: 402px;
}
.Buehne__subline{
	max-width: 525px;
}
.Buehne__headline{
    margin-top: 103px;
	font-size: 3rem;
	line-height: 3.375rem;
}
.Buehne__link{
	bottom: 100px;
    left: calc(50% - 75px);
}
}

@media screen and (min-width: 1601px){
.Buehne__textBlock{
	left: calc(50% - 25px);
}
.Buehne{
	background-image: url(https://www.telekom.de/resources/images/346202/telekom-magenta-eins-zusammen-geht-mehr-xl.jpg);
	height: 582px;
}
.Buehne__headline{
    margin-top: 228px;
}
.Buehne__link{
	bottom: 165px;
    left: calc(50% - 25px);
}
}