.EntertainTV{
	height: 346px;
	flex-grow: 0;
	flex-shrink: 0;
	background-size: cover;	
	background-position: 50% 50%;
	padding: 6px;
	text-decoration: none;
	box-sizing: border-box;
	margin-bottom: 12px;
}

.Teaser--isBig .EntertainTV__textBlock{
	max-width: 100%;
}

.Teaser--isTeaserBright .EntertainTV__headline{
	color: #383838;
}

.Teaser--isTeaserBright .EntertainTV__subline{
	color: #383838;
}

.Teaser--buttonColor .EntertainTV__link{
	color: #383838;
	border-color: #383838;
}

.Teaser--buttonColor .EntertainTV__link:hover{
	color: white;
	border-color: #e20074;
}

.EntertainTV__link:hover{
	background-color: #e20074;
}

.EntertainTV__content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	text-align: center;
}

.EntertainTV__headline{
	color: #fff;
	font-size: 1.6875rem;
	line-height: 1.875rem;
	display: block;
	margin: 29px auto 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "TeleGroteskScreen-Ultra";
}

.EntertainTV__subline{
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #fff;
    display: block;
    font-family: "TeleGroteskScreen-Regular";
    margin: 6px auto 0;
    padding: 0;
    text-transform: uppercase;
	max-width: 300px;
}

.EntertainTV__link{
	font-size: 1.3125rem;
	line-height: 1.5rem;
	background-color: transparent;
    border-color: #fff;
    color: #fff;
	font-family: "TeleGroteskScreen-Bold";
	padding: 12px;
	border: 1px solid #B3b3b3;
	border-radius: 4px;
	text-transform: uppercase;
	margin: 24px;
    white-space: nowrap;
}

.EntertainTV__textBlock{
	max-width: 600px;
	position: relative;
}

.EntertainTV__badge__round{
	font-size: 1rem;
	line-height: 1.125rem;
	color: white;
	border-radius: 50%;
	transform: rotate(-7.5deg);
	text-transform: uppercase;
	text-align: center;
	font-family: "TeleGroteskScreen-Regular";
	width: 100px;
	height: 100px;
}

.Teaser--isBig .EntertainTV__badge__round{
	margin-left: 0%;
}

.EntertainTV__badge_css{
	margin: auto;
}

@media screen and (max-width: 641px){
.EntertainTV{
	flex-basis: 100%;
}
}

@media screen and (min-width: 641px){
.EntertainTV__subline {
    max-width: none;
}
.EntertainTV{
	flex-basis: calc(50% - 6px);
}
.Teaser--isBig{
	flex-basis: 100%;
}
}

@media screen and (min-width: 768px){
.EntertainTV{
	height: 420px;
}
.EntertainTV__headline{
	font-size: 2.25rem;
	line-height: 2.5rem;
    margin-top: 39px;
}
.EntertainTV__subline{
    font-size: 1.3125rem;
	line-height: 1.6875rem;
}
.EntertainTV__badge__round{
	font-size: 1.25rem;
	line-height: 1.5rem;
    height: 132px;
    width: 132px;
}
}

@media screen and (min-width: 1025px){
.EntertainTV{
	height: 520px;
}
.EntertainTV__headline{
	font-size: 3rem;
	line-height: 3.375rem;
    margin-top: 48px;
}
.EntertainTV__subline{
    font-size: 1.5rem;
    line-height: 1.75rem;
	margin-top: 7px;
}
.EntertainTV__link {
    margin: 48px;
}
.EntertainTV__badge__round{
	font-size: 1.5rem;
	line-height: 1.75rem;
    height: 152px;
    width: 152px;
}
}