.FamilyCard{
	height: 346px;
	flex-grow: 0;
	flex-shrink: 0;
	background-size: cover;	
	background-position: 50% 50%;
	padding: 6px;
	text-decoration: none;
	box-sizing: border-box;
	margin-bottom: 12px;
}

.Teaser--isBig .FamilyCard__textBlock{
	max-width: 100%;
}

.Teaser--isTeaserBright .FamilyCard__headline{
	color: #383838;
}

.Teaser--isTeaserBright .FamilyCard__subline{
	color: #383838;
}

.Teaser--buttonColor .FamilyCard__link{
	color: #383838;
	border-color: #383838;
}

.Teaser--buttonColor .FamilyCard__link:hover{
	color: white;
	border-color: #e20074;
}

.FamilyCard__link:hover{
	background-color: #e20074;
}

.FamilyCard__content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	text-align: center;
}

.FamilyCard__headline{
	color: #fff;
	font-size: 1.6875rem;
	line-height: 1.875rem;
	display: inline-block;
	margin: 29px auto 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "TeleGroteskScreen-Ultra";
	max-width: 280px;
}

.FamilyCard__subline{
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #fff;
    display: block;
    font-family: "TeleGroteskScreen-Regular";
    margin: 6px auto 0;
    padding: 0;
    text-transform: uppercase;
	max-width: 296px;
}

.FamilyCard__link{
	font-size: 1.3125rem;
	line-height: 1.5rem;
	background-color: transparent;
    border-color: #fff;
    color: #fff;
	font-family: "TeleGroteskScreen-Bold";
	padding: 12px;
	border: 1px solid #B3b3b3;
	border-radius: 4px;
	text-transform: uppercase;
	margin: 0 24px 24px 24px;
    white-space: nowrap;
}

.FamilyCard__textBlock{
	max-width: 600px;
	position: relative;
}

.FamilyCard__badge__round{
	font-size: 1rem;
	line-height: 1.125rem;
	color: white;
	border-radius: 50%;
	transform: rotate(-7.5deg);
	text-transform: uppercase;
	text-align: center;
	font-family: "TeleGroteskScreen-Regular";
	height: 100px;
	width: 100px;
	margin-left: 50%;
}

.Teaser--isBig .FamilyCard__badge__round{
	margin-left: 0%;
}

.FamilyCard__badge_css{
	margin: auto;
	padding: 30px;
}

.FamilyCard__contentImage{
    max-width: 140px;
    margin-top: 10px;
}

@media screen and (max-width: 641px){
.FamilyCard{
	flex-basis: 100%;
}
}

@media screen and (min-width: 641px){
.FamilyCard{
	flex-basis: calc(50% - 6px);
}
.Teaser--isBig{
	flex-basis: 100%;
}
}

@media screen and (min-width: 768px){
.FamilyCard{
	height: 420px;
}
.FamilyCard__headline{
	font-size: 2.25rem;
	line-height: 2.5rem;
    margin-top: 39px;
	max-width: 360px;
}
.FamilyCard__subline{
    font-size: 1.3125rem;
	line-height: 1.6875rem;
	max-width: 320px;
}
.FamilyCard__badge__round{
	font-size: 1.25rem;
	line-height: 1.5rem;
    height: 132px;
    width: 132px;
}
.FamilyCard__contentImage{
	max-width: 190px;
}
}

@media screen and (min-width: 1025px){
.FamilyCard{
	height: 520px;
}
.FamilyCard__headline{
	font-size: 3rem;
	line-height: 3.375rem;
    margin-top: 48px;
	max-width: 460px;
}
.FamilyCard__subline{
    font-size: 1.5rem;
    line-height: 1.75rem;
	max-width: 500px;
	margin-top: 7px;
}
.FamilyCard__link {
    margin: 0 48px 48px 48px;
}
.FamilyCard__badge__round{
	font-size: 1.5rem;
	line-height: 1.75rem;
    height: 152px;
    width: 152px;
}
.FamilyCard__contentImage{
	max-width: 260px;
    margin-top: 20px;
}
}