.Festnetz{
	height: 346px;
	flex-grow: 0;
	flex-shrink: 0;
	background-size: cover;	
	background-position: 50% 50%;
	padding: 6px;
	text-decoration: none;
	box-sizing: border-box;
	margin-bottom: 12px;
}

.Teaser--isBig .Festnetz__textBlock{
	max-width: 100%;
}

.Teaser--isTeaserBright .Festnetz__headline{
	color: #383838;
}

.Teaser--isTeaserBright .Festnetz__subline{
	color: #383838;
	max-width: 100%;
}

.Teaser--isTeaserBright .Festnetz__link{
	color: #383838;
	border-color: #383838;
}

.Teaser--isTeaserBright .Festnetz__link:hover{
	color: white;
	border-color: #e20074;
}

.Festnetz__content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	text-align: center;
}

.Festnetz__headline{
	color: #fff;
	font-size: 1.6875rem;
	line-height: 1.875rem;
	display: inline-block;
	margin: 29px auto 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "TeleGroteskScreen-Ultra";
}

.Festnetz__subline{
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #fff;
    display: block;
    font-family: "TeleGroteskScreen-Regular";
    margin: 6px auto 0;
    padding: 0;
    text-transform: uppercase;
	max-width: 296px;
}

.Festnetz__link{
	font-size: 1.3125rem;
	line-height: 1.5rem;
	background-color: transparent;
    border-color: #fff;
    color: #fff;
	font-family: "TeleGroteskScreen-Bold";
	padding: 12px;
	border: 1px solid #B3b3b3;
	border-radius: 4px;
	text-transform: uppercase;
	margin: 24px;
    white-space: nowrap;
}

.Festnetz__link:hover{
	background-color: #e20074;
}

.Festnetz__textBlock{
	max-width: 600px;
	position: relative;
}

.badge__round{
	font-size: 1rem;
	line-height: 1.125rem;
	color: white;
	border-radius: 50%;
	transform: rotate(-7.5deg);
	text-transform: uppercase;
	text-align: center;
	font-family: "TeleGroteskScreen-Regular";
	height: 100px;
	width: 100px;
	margin-left: 50%;
}

.Teaser--isBig .badge__round{
	margin-left: 0%;
}

.badge_css{
	margin: auto;
	padding: 30px;
}


.hintergrundFarbe{
	
}

.magentaMobilTeaserImage{
	width: 252px;
}

.festnetzMobilTeaserImage{

}

.familyCardMobilTeaserImage{
    max-width: 140px;
    margin-top: 10px;
}

.huaweiTeaserImage{
    bottom: 90px;
    width: 155px;
}

@media screen and (min-width: 1025px)
.huaweiTeaserImage .Teaser__headline {
    width: 800px;
}

@media screen and (min-width: 531px){
.magentaMobilTeaserImage{
    width: 306px;
}
}

@media screen and (max-width: 641px){
.Festnetz{
	flex-basis: 100%;
}
}

@media screen and (min-width: 641px){
.Festnetz__subline {
    max-width: 354px;
}
.Festnetz{
	flex-basis: calc(50% - 6px);
}
.Teaser--isBig{
	flex-basis: 100%;
}
.magentaMobilTeaserImage{
    width: 186px;
}
}

@media screen and (min-width: 648px){
.magentaMobilTeaserImage{
    width: 254px;
}
}

@media screen and (min-width: 768px){
.Festnetz{
	height: 420px;
}
.Festnetz__headline{
	font-size: 2.25rem;
	line-height: 2.5rem;
    margin-top: 39px;
}
.Festnetz__subline{
    font-size: 1.3125rem;
	line-height: 1.6875rem;
}
.badge__round{
	font-size: 1.25rem;
	line-height: 1.5rem;
    height: 132px;
    width: 132px;
}
.familyCardMobilTeaserImage{
    max-width: 190px;
}
.huaweiTeaserImage{
    bottom: 70px;
    width: 240px;
}
}

@media screen and (min-width: 1025px){
.Festnetz{
	height: 520px;
}
.Festnetz__headline{
	font-size: 3rem;
	line-height: 3.375rem;
    margin-top: 48px;
}
.Festnetz__subline{
    font-size: 1.5rem;
    line-height: 1.75rem;
	max-width: 426px;
	margin-top: 7px;
}
.Festnetz__link {
    margin: 48px;
}
.badge__round{
	font-size: 1.5rem;
	line-height: 1.75rem;
    height: 152px;
    width: 152px;
}
.magentaMobilTeaserImage{
    width: 296px;
}
.familyCardMobilTeaserImage{
    max-width: 260px;
    margin-top: 20px;
}
.huaweiTeaserImage{
    bottom: 105px;
    width: 270px;
}
}

@media screen and (min-width: 1280px){
.magentaMobilTeaserImage{
    width: 426px;
}
.huaweiTeaserImage{
    bottom: 100px;
    width: 350px
}
}