.HuaweiAktion{
	height: 346px;
	flex-grow: 0;
	flex-shrink: 0;
	background-size: cover;	
	background-position: 50% 50%;
	padding: 6px;
	text-decoration: none;
	box-sizing: border-box;
	margin-bottom: 12px;
}

.Teaser--isBig .HuaweiAktion__textBlock{
	max-width: 100%;
}

.Teaser--isTeaserBright .HuaweiAktion__headline{
	color: #383838;
}

.Teaser--isTeaserBright .HuaweiAktion__subline{
	color: #383838;
	max-width: 100%;
}

.Teaser--buttonColor .HuaweiAktion__link{
	color: #383838;
	border-color: #383838;
}

.Teaser--buttonColor .HuaweiAktion__link:hover{
	color: white;
	border-color: #e20074;
}

.HuaweiAktion__link:hover{
	background-color: #e20074;
}

.HuaweiAktion__content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	text-align: center;
}

.HuaweiAktion__headline{
	color: #fff;
	font-size: 1.6875rem;
	line-height: 1.875rem;
	display: inline-block;
	margin: 29px auto 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "TeleGroteskScreen-Ultra";
	max-width: 272px;
}

.HuaweiAktion__subline{
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #fff;
    display: block;
    font-family: "TeleGroteskScreen-Regular";
    margin: 6px auto 0;
    padding: 0;
    text-transform: uppercase;
	max-width: 320px;
}

.HuaweiAktion__link{
	font-size: 1.3125rem;
	line-height: 1.5rem;
	background-color: transparent;
    border-color: #fff;
    color: #fff;
	font-family: "TeleGroteskScreen-Bold";
	padding: 12px;
	border: 1px solid #B3b3b3;
	border-radius: 4px;
	text-transform: uppercase;
	margin: 24px;
    white-space: nowrap;
	z-index: 1;
	display: inline-block;
	text-decoration: none;
}

.HuaweiAktion__textBlock{
	max-width: 600px;
	position: relative;
}

.HuaweiAktion__badge__round{
	font-size: 1rem;
	line-height: 1.125rem;
	color: white;
	border-radius: 50%;
	transform: rotate(-7.5deg);
	text-transform: uppercase;
	text-align: center;
	font-family: "TeleGroteskScreen-Regular";
	font-weight: bold;
	height: 100px;
	width: 100px;
}

.Teaser--isBig .HuaweiAktion__badge__round{
	font-size: 1.125rem;
	line-height: 1.3125rem;
	bottom: 90px;
    font-family: "TeleGroteskScreen-Bold";
    left: 20px;
    text-align: center;
    width: 100px;
}

.HuaweiAktion__badge_css{
	-webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
	position: absolute;
}

.HuaweiAktion__contentImage{
    width: 155px;
}

@media screen and (min-width: 380px){
.HuaweiAktion__badge__round{
	left: calc(50% - 165px);
}
}

@media screen and (min-width: 640px){
.HuaweiAktion__badge__round{
    bottom: 85px;
    left: 20px;
}
}

@media screen and (max-width: 641px){
.HuaweiAktion{
	flex-basis: 100%;
}
}

@media screen and (min-width: 641px){
.HuaweiAktion{
	flex-basis: calc(50% - 6px);
}
.Teaser--isBig{
	flex-basis: 100%;
}
}

@media screen and (min-width: 768px){
.HuaweiAktion{
	height: 420px;
}
.HuaweiAktion__headline{
	font-size: 2.25rem;
	line-height: 2.5rem;
    margin-top: 39px;
	max-width: 360px;
}
.HuaweiAktion__subline{
    font-size: 1.3125rem;
	line-height: 1.6875rem;
	max-width: 360px;
}
.HuaweiAktion__badge__round{
	font-size: 1.4375rem;
	line-height: 1.625rem;
    height: 132px;
	bottom: 80px;
    left: 20px;
    width: 132px;
}
.HuaweiAktion__badge_css{
	font-size: 1.4375rem;
    line-height: 1.625rem;
}
.HuaweiAktion__contentImage{
    width: 240px;
}
}

@media screen and (min-width: 1025px){
.HuaweiAktion{
	height: 520px;
}
.HuaweiAktion__headline{
	font-size: 3rem;
	line-height: 3.375rem;
    margin-top: 48px;
	max-width: none;
}
.HuaweiAktion__subline{
    font-size: 1.5rem;
    line-height: 1.75rem;
	margin-top: 7px;
	display: block;
}
.HuaweiAktion__link {
    margin: 48px;
}
.HuaweiAktion__badge__round{
	font-size: 1.625rem;
	line-height: 1.875rem;
    height: 152px;
    width: 152px;
	bottom: 115px;
}
.HuaweiAktion__badge_css{
	font-size: 1.625rem;
    line-height: 1.875rem;
}
.HuaweiAktion__contentImage{
    width: 270px;
}
}

@media screen and (min-width: 1297px){
.HuaweiAktion__badge__round{
    bottom: 135px;
    left: calc(50% - 300px);
}
.HuaweiAktion__contentImage{
    width: 350px;
}		
}