.TeaserEins{
	height: 520px;
	flex-basis: calc(50% - 6px);
	flex-grow: 0;
	flex-shrink: 0;
	background-size: cover;	
	background-position: 50% 50%;
	padding: 48px;
	text-decoration: none;
	box-sizing: border-box;
	margin-bottom: 12px;
}

.TeaserEins--isBig{
	flex-basis: 100%;
}

.TeaserEins--isBig .TeaserEins__textBlock{
	max-width: 100%;
}

.TeaserEins--isTeaserBright .TeaserEins__headline{
	color: black;
}

.TeaserEins--isTeaserBright .TeaserEins__subline{
	color: black;
}

.TeaserEins--isTeaserBright .TeaserEins__link{
	color: black;
}

.TeaserEins__content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}

.TeaserEins__headline{
	color: #fff;
	font-size: 1.6875rem;
	line-height: 1.875rem;
	display: inline-block;
	margin: 29px auto 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	font-family: "TeleGroteskScreen-Ultra";
}

@media screen and (min-width: 768px){
.TeaserEins__headline{
	font-size: 2.25rem;
	line-height: 2.5rem;
	margin-top: 39px;
}
}

@media screen and (min-width: 1025px){
.TeaserEins__headline{
	font-size: 3rem;
	line-height: 3.375rem;
	margin-top: 48px;
}
}

.TeaserEins__subline{
	color: white;
	font-size: 24px;	
	text-align: center;
	text-transform: uppercase;
	font-family: "TeleGroteskScreen";
}

.TeaserEins__link{
	color: white;
	padding: 12px;
	border: 1px solid #B3b3b3;
	border-radius: -4px;
	text-align: center;
	transition: background-color 0.2s ease-in-out;
	font-family: "TeleGroteskScreen";
}

.TeaserEins__link:hover{
	background-color: #e20074;
}

.TeaserEins__textBlock{
	max-width: 100%;
	position: relative;
}

.TeaserEins__bubble{
	position: absolute;
	top: 200px;
	right: 0;
}