.Teaser{
	height: 520px;
	flex-basis: calc(50% - 6px);
	flex-grow: 0;
	flex-shrink: 0;
	background-size: cover;	
	background-position: 50% 50%;
	padding: 48px;
	text-decoration: none;
	box-sizing: border-box;
	margin-bottom: 12px;
}

.Teaser--isBig{
	flex-basis: 100%;
}

.Teaser--isBig .Teaser__textBlock{
	max-width: 100%;
}

.Teaser--isTeaserBright .Teaser__headline{
	color: black;
}

.Teaser--isTeaserBright .Teaser__subline{
	color: black;
}

.Teaser--isTeaserBright .Teaser__link{
	color: black;
}

.Teaser__content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}

.Teaser__headline{
	color: #fff;
	font-size: 1.6875rem;
	line-height: 1.875rem;
	display: inline-block;
	margin: 29px auto 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	font-family: "TeleGroteskScreen-Ultra";
}

@media screen and (min-width: 768px){
.Teaser__headline{
	font-size: 2.25rem;
	line-height: 2.5rem;
	margin-top: 39px;
}
.Teaser__subline{
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 27px;
    line-height: 1.6875rem;
}
}

.Teaser__subline{
	font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
    color: #fff;
    display: block;
    font-family: "TeleGroteskScreen-Regular";
    margin: 6px auto 0;
    padding: 0;
    text-transform: uppercase;
}

.Teaser__link{
	color: white;
	padding: 12px;
	border: 1px solid #B3b3b3;
	border-radius: -4px;
	text-align: center;
	transition: background-color 0.2s ease-in-out;
	font-family: "TeleGroteskScreen";
}

.Teaser__link:hover{
	background-color: #e20074;
}

.Teaser__textBlock{
	max-width: 420px;
	position: relative;
}

.badge__round{
	color: white;
	border-radius: 50%;
	transform: rotate(-7.5deg);
	text-align: center;
	font-family: "TeleGroteskScreen";
	height: 150px;
	width: 150px;
	margin-left: 50%;
}

.Teaser--isBig .badge__round{
	margin-left: 0%;
}

.badge_css{
	margin: auto;
	padding: 30px;
}