.TerminVereinbarung{
	height: 346px;
	flex-grow: 0;
	flex-shrink: 0;
	background-size: cover;	
	background-position: 50% 50%;
	padding: 6px;
	text-decoration: none;
	box-sizing: border-box;
	margin-bottom: 12px;
}

.Teaser--isBig .TerminVereinbarung__textBlock{
	max-width: 100%;
}

.Teaser--isTeaserBright .TerminVereinbarung__headline{
	color: #383838;
}

.Teaser--isTeaserBright .TerminVereinbarung__subline{
	color: #383838;
	max-width: 100%;
}

.Teaser--buttonColor .TerminVereinbarung__link{
	color: #383838;
	border-color: #383838;
}

.Teaser--buttonColor .TerminVereinbarung__link:hover{
	color: white;
	border-color: #e20074;
}

.TerminVereinbarung__link:hover{
	background-color: #e20074;
}

.TerminVereinbarung__content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	text-align: center;
}

.TerminVereinbarung__headline{
	color: #fff;
	font-size: 1.6875rem;
	line-height: 1.875rem;
	display: inline-block;
	margin: 29px auto 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "TeleGroteskScreen-Ultra";
	max-width: 360px;
}

.TerminVereinbarung__subline{
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #fff;
    display: block;
    font-family: "TeleGroteskScreen-Regular";
    margin: 6px auto 0;
    padding: 0;
    text-transform: uppercase;
	max-width: 260px;
}

.TerminVereinbarung__form {
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    height: 47px;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    position: relative;
}

.TerminVereinbarung__form__label-address {
    border-right: 1px solid #fff;
    width: calc(100% - 46px);
	box-sizing: border-box;
    background-color: hsla(0,0%,100%,.45);
    height: 100%;
    display: block;
    float: left;
}

.TerminVereinbarung__form__label-address:before {
    font-family: Telekom-Icon;
    content: "\71";
    font-size: 22px;
    color: #fff;
    position: absolute;
    left: 12px;
    top: 8px;
}

::placeholder {
    color: #fff;
}

.TerminVereinbarung__form__input-address {
    border: none;
    color: #fff;
    font-family: TeleGroteskScreen-Regular,Tele-GroteskNor,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 18px;
    background: transparent;
    height: 100%;
    width: 100%;
    text-indent: 40px;
    caret-color: currentColor;
}

.TerminVereinbarung__form__button-submit {
    border: none;
    width: 46px;
    color: #fff;
	box-sizing: border-box;
    background-color: hsla(0,0%,100%,.45);
    height: 100%;
    display: block;
    float: left;
}

.TerminVereinbarung__form__button-submit:after {
    content: "\e804";
    font-family: tsde-icon-new;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    margin-top: 0;
    font-size: 28px;
}

.TerminVereinbarung__link{
	font-size: 1.3125rem;
	line-height: 1.5rem;
	background-color: transparent;
    border-color: #fff;
    color: #fff;
	font-family: "TeleGroteskScreen-Bold";
	padding: 12px;
	border: 1px solid #B3b3b3;
	border-radius: 4px;
	text-transform: uppercase;
	margin: 24px;
    white-space: nowrap;
}

.TerminVereinbarung__textBlock{
	max-width: 600px;
	position: relative;
}

.TerminVereinbarung__badge__round{
	font-size: 1rem;
	line-height: 1.125rem;
	color: white;
	border-radius: 50%;
	transform: rotate(-7.5deg);
	text-transform: uppercase;
	text-align: center;
	font-family: "TeleGroteskScreen-Regular";
	height: 100px;
	width: 100px;
	margin-left: 50%;
}

.Teaser--isBig .TerminVereinbarung__badge__round{
	margin-left: 0%;
}

.TerminVereinbarung__badge_css{
	margin: auto;
	padding: 30px;
}

@media screen and (max-width: 641px){
.TerminVereinbarung{
	flex-basis: 100%;
}
}

@media screen and (min-width: 641px){
.TerminVereinbarung{
	flex-basis: calc(50% - 6px);
}
.Teaser--isBig{
	flex-basis: 100%;
}
}

@media screen and (min-width: 768px){
.TerminVereinbarung{
	height: 420px;
}
.TerminVereinbarung__headline{
	font-size: 2.25rem;
	line-height: 2.5rem;
    margin-top: 39px;
}
.TerminVereinbarung__subline{
    font-size: 1.3125rem;
	line-height: 1.6875rem;
	max-width: 300px;
}
.TerminVereinbarung__form {
    margin-top: 40px;
}
.TerminVereinbarung__badge__round{
	font-size: 1.25rem;
	line-height: 1.5rem;
    height: 132px;
    width: 132px;
}
}

@media screen and (min-width: 1025px){
.TerminVereinbarung{
	height: 520px;
}
.TerminVereinbarung__headline{
	font-size: 3rem;
	line-height: 3.375rem;
    margin-top: 48px;
}
.TerminVereinbarung__subline{
    font-size: 1.5rem;
    line-height: 1.75rem;
	max-width: 450px;
	margin-top: 7px;
}
.TerminVereinbarung__link {
    margin: 48px;
}
.TerminVereinbarung__badge__round{
	font-size: 1.5rem;
	line-height: 1.75rem;
    height: 152px;
    width: 152px;
}
}